 body
{
background-color:#deccca;
font-size:18px;
}	

.box
{
height:600px;
width: 400px;
position:relative;
top:10px;
left:40%;
} 

#firstname
{
margin-left:140px;
}

#lastname
{
margin-left:140px;
}

#address
{
margin-left:160px;
}

#about
{
height:100px; 
width:300px;
}

#email
{
margin-left:170px;
}

#password
{
margin-left:150px;
}

#conPassword
{
margin-left:85px;
}

#webSite
{
margin-left:153px;
}

#country
{
height: 25;
width:153px;
margin-left:160px;
}

#city
{
margin-left:190px;
margin-top:15px;
}

#about
{
margin-left:3px;
margin-top:15px;
}

#submit
{
width:250px;
height:50px;
margin-left:75px;
margin-top:25px;
}

#map-canvas
{
width:387px;
height:300px;
margin-top:20px;
}

 p 
{
font-size:15px;
color:red;
margin-left:230px
}